
.fadeOut {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

#feedback {
  padding: 8px;
  margin: 4px auto;

}

.feedback {
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
